<%= form_for @employee do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :age %>
  <%= f.number_field :age %>
</div>
<div>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
</div>
<div>
  <%= f.label :designation %>
  <%= f.text_field :designation %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
